                                    /**FOOTER**/
$footer-color: #d0d1caa4;

.footer{
    background-color: $footer-color ;
    text-align: center;
}
.endPage{
    padding: 50px;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
                                 
}

.terms{
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .endPage{
        padding: 10px;
        width: 100%;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;                                 
    }
    p{
        font-size: 6px;
        padding: 40px;
    }
    .textoContactoFoot{
        margin: 400px;
        padding: 40px;
    }

    .tituServicios{
        font-weight: bold;
        font-size: 5px;
    }    

    .terms{
        font-size: 5px;
    }

}

                                    
                                                                        /**FIN FOOTER**/