.quienesSomos{

.titulo{
    color: black;
    grid-area: titulo;
}

.fotito{
    border-radius: 15px;
    grid-area: fotito;
                                
}
                            
.col-4{
    opacity: 0.75;
}
                            
.col-4:hover{
    opacity: 1;
}
                            
.col-12{
    opacity: 0.75;
}

.col-12:hover{
    opacity: 1;
}
                            
.mision{
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    grid-area: mision;
    font-size: large;
                                
}
                            
.aside{
    border-radius: 15px;
    grid-area: aside;
}
                            
.vision{
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    grid-area: vision;
    font-size: large;
}
}