                        /** TITULOS **/

                        h1{
                            font-family: $title-font;
                            text-align: center;
                            color:black;
                            border: 1px solid;
                            background-color:#c06014;
                        
                        }
                        
                        h2, h3, h4{
                            font-family: $subtitle-font;
                            font-weight: bold;
                            text-align: center;
                        
                        }
                        
                        h6{
                            text-align: center;
                        }
                                                
                                                /** FIN TITULOS **/