@charset "UTF-8";
/** DISEÑOS  PROYECTOS REALIZADOS **/
* {
  text-decoration: none;
}

.dropdown {
  text-align: center;
  padding: 40px;
  margin: auto;
}

.colDiseno {
  text-align: center;
}

.rowDiseno {
  background-color: whitesmoke;
  opacity: .65;
  text-align: center;
}

.rowDiseno:hover {
  opacity: 1;
}

.design:hover {
  opacity: 1;
}

/** FIN DISEÑOS  PROYECTOS REALIZADOS **/
.remodelaciones {
  background-color: #cecaca;
  border-radius: 5px;
  padding: 5rem;
  text-align: center;
}

.remodelaciones h3 {
  color: #3b3b3bee;
}

.remodelaciones p {
  color: #2c2b2bcb;
}

.construcciones {
  background-color: #a8a2a271;
  border-radius: 5px;
  padding: 5rem;
  text-align: center;
}

.construcciones h3 {
  color: #3b3b3bee;
}

.construcciones p {
  color: #2c2b2bcb;
}

.ingenieria {
  background-color: #a8a2a2b9;
  border-radius: 5px;
  padding: 5rem;
  text-align: center;
}

.ingenieria h3 {
  color: #3b3b3bee;
}

.ingenieria p {
  color: #2c2b2bcb;
}

/**FOOTER**/
.footer {
  background-color: #d0d1caa4;
  text-align: center;
}

.endPage {
  padding: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.terms {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .endPage {
    padding: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .textoContactoFoot {
    margin: 1.5px;
    padding: 1.5px;
    font-size: 15px;
  }
  .tituServicios {
    font-weight: bold;
    font-size: 15px;
  }
  .terms {
    font-size: 10px;
  }
}

/**FIN FOOTER**/
.concreta {
  background-color: #f3f4eda4;
  text-align: center;
}

.textoIndex {
  padding: auto;
  margin: 10px;
}

/** ARTICLES INDEX **/
.disenoHome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /** CON ESTO SE ACOMODARON **/
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

.foto {
  width: 180px;
  height: 100px;
  padding: auto;
  margin: 2px;
  border: darkgrey;
  opacity: .85;
  border: 2px double grey;
}

img:hover {
  opacity: 1;
  border: solid 2px white;
}

article {
  display: inline-block;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
  /**Esto para sacarle el subrayado**/
}

a:visited {
  color: black;
}

/** FIN ARTICLES INDEX **/
.quienesSomos .titulo {
  color: black;
  grid-area: titulo;
}

.quienesSomos .fotito {
  border-radius: 15px;
  grid-area: fotito;
}

.quienesSomos .col-4 {
  opacity: 0.75;
}

.quienesSomos .col-4:hover {
  opacity: 1;
}

.quienesSomos .col-12 {
  opacity: 0.75;
}

.quienesSomos .col-12:hover {
  opacity: 1;
}

.quienesSomos .mision {
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  grid-area: mision;
  font-size: large;
}

.quienesSomos .aside {
  border-radius: 15px;
  grid-area: aside;
}

.quienesSomos .vision {
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  grid-area: vision;
  font-size: large;
}

/** TITULOS **/
h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: black;
  border: 1px solid;
  background-color: #C9D8B6;
}

h2, h3, h4 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-align: center;
}

h6 {
  text-align: center;
}

/** FIN TITULOS **/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background: #f3f4edde;
  height: 80px;
  width: 100%;
}

label.logo {
  color: black;
  font-size: 30px;
  line-height: 75px;
  padding: 0 70px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.lala, a:hover {
  background: #777474;
  -webkit-transition: .5s;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.lala {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/**
.header {
    background-color: $headerBack-color;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
    margin: 0 5px;
}**/
* {
  text-decoration: none;
}

.btn {
  margin: 15px;
}

p {
  text-align: center;
  font-family: "Barlow", sans-serif;
}

body {
  background-color: #ffffff;
}

/** Anidaciones **/
.footer, .quienesSomos, .tablaProyectosRealizados, .formularioContacto, .formularioSuscripcion, .formularioSingUp {
  text-align: center;
}

/**  FIN Anidaciones **/
/** Animaciones **/
.aparecer {
  margin: 70px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/** FIN Animaciones **/
/** Transformaciones **/
.foto {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.foto:hover {
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
  /**scala acorde a lo que mido en este caso agranda alto y ancho**/
}

.design {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.design:hover {
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
}

/** FIN Transformaciones **/
/** Gradiantes **/
.gradContactanos {
  background: -webkit-gradient(linear, left bottom, left top, from(darkgrey), to(white));
  background: linear-gradient(to top, darkgrey, white);
}

/** FIN Gradiantes **/
/** Querries **/
@media only screen and (max-width: 768px) {
  h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: 0.7px solid;
    background: #C9D8B6;
  }
  .header {
    text-align: center;
  }
  .container {
    text-align: center;
  }
  .imagenSanSebastian {
    height: 100px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .imagenSanSebastian:hover {
    -webkit-transform: scale(1.7, 1.7);
            transform: scale(1.7, 1.7);
  }
  .foto {
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .foto:hover {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    /**scala acorde a lo que mido en este caso agranda alto y ancho**/
  }
  .design {
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .design:hover {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    color: black;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    background: #C9D8B6;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    color: black;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    background: #C9D8B6;
  }
}

/** FIN Querries **/
/**Colores 
f3f4ed
536162
424642
c06014
**/
/*# sourceMappingURL=estilos.css.map */